[user]
    name = Kevin Qi
	email = kqi@patientslikeme.com
[core]
    editor = vim
    excludesfile = '~/.gitignore_global'
[color]
    status = auto
    diff = auto
    branch = auto
[alias]
    co = checkout
    st = status
    ci = commit
    undo-commit = reset --soft HEAD^ 
[push]
    default = tracking
[branch]
    autosetupmerge = always
