[user]
    name = Kevin Qi
    email = iqnivek@gmail.com
[core]
    editor = vim
[color]
    status = auto
    diff = auto
    branch = auto
[alias]
    co = checkout
    st = status
    ci = commit
    undo-commit = reset --soft HEAD^ 
[push]
    default = tracking
